
<h1>Hi, my name is {{firstName}} {{lastName}}</h1>
<hr />
<img src="{{image}}" alt="babysitter-image">
<p>{{email}}</p>
<p>{{phoneNumber}}</p>
<p>Rating: {{rating}}/5</p>
<p>{{experience}}</p>
<p>{{area}}</p>
<hr />


<form action='/review/create/{{_id}}' method='post'>

  <textarea name='content' id='content' cols='30' rows='10'></textarea>
  <label for='rating'>Give a rate</label>
  <input type='number' name='rating' id='rating' min="0" max="5" />
  <button type='submit'>Create a review</button>
</form>

<hr />

{{#each reviewsReceived}}
  <p>by {{author.firstName}}</p>
  <p> {{content}}</p>
{{/each}}

