<h1>Profile</h1>

<p>First name: {{user.firstName}}</p>
<p>Last name: {{user.lastName}}</p>
<p>Email: {{user.email}}</p>
<p>Phone number: {{user.phoneNumber}}</p>
<p><label for="image">Image: <input type="file" name="image"> </label></p>
<p>Age: {{user.age}}</p>
<p>Experience: {{user.experience}}</p>
<p> <label for="criminalRecord">Criminal record: <input type="file" name="criminalRecord"> </label> </p>
<p>Language: {{user.language}}</p>
<p>Area: {{user.area}}</p>


<a href="/babysitter-edit/{{user._id}}">Edit profile</a>
