<h1>Hi, my name is {{user.firstName}} {{user.lastName}}</h1>
<hr />
<img src="{{user.imgUrl}}" alt="Profile Image">
<p>Email: {{user.email}}</p>
<p>Phone number: {{user.phoneNumber}}</p>
<p>Rating: {{user.rating}}/5</p>
<hr />

<form action='/review/create/{{user._id}}' method='post'>
  <select name='author' id='author'>
    {{#each users}}
      <option value='{{_id}}'>{{username}}</option>
    {{/each}}
  </select>

  <textarea name='content' id='content' cols='30' rows='10'></textarea>
  <label for='rating'>Rating</label>
  <input type='number' name='rating' id='rating' value='{{rating}}' />
  <button type='submit'>Create Review</button>
</form>

<hr />

{{#each babysitter.reviews}}
  <p>by {{this.author.firstName}}</p>
  <p> {{this.content}}</p>

{{/each}}

