<div class="background-profile-geral">
  <h1 class="sub-title">Hi, my name is <b>{{firstName}} {{lastName}}</b></h1>

  <div class="container-profile-geral">

    <div class="mini-container">
      <img class="img-profile-geral" src="{{image}}" alt="babysitter-image">
    <div>
      <p>My email: {{email}}</p>
      <p>My phone number: {{phoneNumber}}</p>
      <p>My experience: {{experience}}</p>
      <p>My location to work: {{location}}</p>
      <p>Rating: {{rating}}/5</p>
    </div>
    </div>

    <div class="mini-container">
          <h4>DISPONIBILITY</h4>
          <div class="flex-disponibility">
            <h4 class="mini-titles">Morning:</h4>
            {{#each disponibility.0.morning}}
              <p> {{this}}</p>
            {{/each}}
          </div>
          <div class="flex-disponibility">
            <h4 class="mini-titles">Afternoon:</h4>
            {{#each disponibility.0.afternoon}}
              <p>{{this}}</p>
            {{/each}}
          </div>
          <div class="flex-disponibility">
            <h4 class="mini-titles">Night:</h4>
            {{#each disponibility.0.night}}
              <p>{{this}}</p>
            {{/each}}</p>
          </div>
      </div>
      
      <div class="write-review">
        <form class="form-flex" action='/review/create/{{_id}}' method='post'>
          <textarea class="textaera" name='content' id='content' cols='60' rows='8'>Write a review...</textarea>
          <div class="label-flex">
            <label for='rating'>Rate</label>
            <input class="each" type='number' name='rating' id='rating' min="0" max="5" />
            <button class="a-profile btn btn-secondary btn-lg" type='submit'>Create a review</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

  <div> 
    <h1 class="sub-title">My reviews</h1>
      
    <div class="review-flex">
      {{#each reviewsReceived}}
      <div class="review">
        <p>by <b>{{author.firstName}} {{author.lastName}}</b></p>
        <p> {{content}}</p>
       </div>
      {{/each}}
   </div>
  </div> 