<div>
<form class="form-flex" action="/babysitter-edit/{{babysitter._id}}" method="post" enctype='multipart/form-data'>
    <h1 class="title">Babysitter's form</h1>
    
    <label for="firstName">First name 
        <input class="input" type="text" name="firstName" value="{{babysitter.firstName}}"> 
    </label>

    <label for="lastName">Last name
        <input class="input" type="text" name="lastName" value="{{babysitter.lastName}}"> 
    </label>
    
    <label for="email">Email
        <input class="input" type="email" name="email" value="{{babysitter.email}}">
    </label>
    
    <label for="password">Password
        <input class="input" type="text" name="password" value="{{babysitter.password}}">
    </label>

    <label for="phoneNumber">Phone number
        <input class="input" type="text" name="phoneNumber" value="{{babysitter.phoneNumber}}">
    </label>
    
    <label for="image">Image: <input class="input" type="file" name="image"> </label>

    <label for="age">Age
        <input class="input" type="text" name="age" value="{{babysitter.age}}">
    </label>
    
    <label for="experience">Experience
        <textarea class="input" value="{{babysitter.experience}}" name="experience" id="experience" cols="30" rows="10"></textarea>     
    </label>

    <label for="criminalRecord">Criminal record: <input class="input" type="file" name="criminalRecord"> </label>

    <label for="language">Spoken languages
        <input class="input" type="text" name="language" value="{{babysitter.language}}">
    </label>

    <label for="availability"> Tell us your availability

        <table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">2º</th>
      <th scope="col">3º</th>
      <th scope="col">4º</th>
      <th scope="col">5º</th>
      <th scope="col">6º</th>
      <th scope="col">Sá</th>
      <th scope="col">Do</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Morning</th>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
    </tr>
    <tr>
      <th scope="row">Afternoon</th>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
    </tr>
    <tr>
      <th scope="row">Night</th>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
    </tr>
  </tbody>
</table>

    </label>


    <label for="linkedin">Linkedin
        <input class="input" type="text" name="linkedin" value="{{babysitter.linkedin}}">
    </label>
    
    <label for="price">Price/hour
        <input class="input" type="number" name="price" value="{{babysitter.price}}">
    </label>

    <label for="area">Area 
        <input class="input" type="text" name="area" value="{{babysitter.area}}"> 
    </label>
    
    <button type="submit" class="button btn btn-secondary btn-lg">SUBMIT</button>
</form>
</div>