<h1>Profile</h1>

<p>First name: {{user.firstName}}</p>
<p>Last name: {{user.lastName}}</p>
<p>Email: {{user.email}}</p>
<p>Phone number: {{user.phoneNumber}}</p>
<p><label for="image">Image: <input type="file" name="image"> </label></p>
<p>Area: {{user.area}}</p>


<a href="/client-edit/{{user._id}}">Edit profile</a>