<h1>Favorites</h1>

{{#each babysitter}}
<div>
    <img src="{{image}}" alt="image-babysitter">
    <h5>{{firstname}} {{lastName}}</h5>
    <p>{{experience}}</p>
    <p>{{phoneNumber}}</p>
    <a href="/profiles/babysitter/{{_id}}">View profile</a>
</div>
{{/each}}